* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 200vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}
.header-container {
    background-color: #9c9c9c;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    align-items: center;
    padding: 10px 20px;
    height: 120px;
    width: 100%;
    z-index: 1000;
}
.logo1 img {
    margin-left: 200px;
    width: 100px;
    aspect-ratio: 1;
}
.navbar-container {
    margin-right: 200px;
    display: flex;
    white-space: nowrap;
}
.navbar-list {
    list-style-type: none;
    white-space: nowrap;
}
.navbar-list-element {
    list-style-type: none;
    display: inline-block;
    font-size: 1.25rem;
}
.navbar-list-element-link {
    text-decoration: none;
    color: #1C274F;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    word-wrap: nowrap;
    background-color: rgb(255, 255, 255);
}
.navbar-list-element-link:hover {
    background-color: #1C274F;
    color: white;
    transition: 300ms;
}
.navbar-list-element-link:not(:hover) {
    transition: 300ms;
}
.int-site-link-button {
    margin-left: 100px;
}
.int-site-link-button button {
    text-decoration: none;
    padding:20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #1C274F;
    font-weight: bold;
    background-color: #C59443;
}
.int-site-link-button button:hover {
    background-color: #1C274F;
    color: white;
    transition: 300ms;
}
.int-site-link-button button:not(:hover) {
    transition: 300ms;
}
.switch {
    position: relative;
}
.switch label {
    width: 55px;
    height: 23px;
    background-color: #999;
    position: absolute;
    top: 20;
    left: 50;
    border-radius: 50px;
}

.switch input[type="checkbox"] {
visibility: hidden;
}

.switch label:after {
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 100ms;
    background-color: white;
}

.switch .look:checked + label:after {
    left: 32px;
}

.switch .look:checked + label {
    background-color: lightsteelblue;
}
.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.slider-section {
    max-width: 600px;
    overflow: hidden;
    max-width: 1200px;
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
.slider-inner {
    display: flex;
    gap: 2rem;
    padding-block: 2rem;
}
.slider-section[data-animated=true] .slider-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 40s var(--_animation-direction, forwards) linear  infinite;
}
.slider-section[data-direction="right"] {
    --_animation-direction: reverse;
}
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1rem));
    }
}
.image-section-heading {
    font-size: 2.5rem;
    margin: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#C59443;
    font-weight: bold;
}
footer {
        position: relative;
        bottom: 0;
        width: 100%;
}
.footer-container {
    background-image: linear-gradient(to bottom, #1c274f, #2f3d69, #435485, #576ca2, #6b85bf, #6b85bf, #6b85bf, #6b85bf, #576ca2, #435485, #2f3d69, #1c274f);
    color: white;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding-inline: 200px;
    gap: 3rem;
    padding: 30px 200px 30px 200px;
}
                    /* intro-slider section */

.intro-slider {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    margin-left: 13vw;
    margin-top: 5vh;
    margin-right: 10vw;
}
.intro-slider-container {
        display: flex;
        width: 80%;
        height: 40vh;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
}
.intro-text{
    width: 70%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    box-shadow: 2px 2px 5px 2px #888888;
    /* position: relative; */
    padding-left: 2vw;
}
.text{
    margin: 10vh 6vh 2vh 10vh;
    position: relative;
}
.icon{
    text-align: left;
    margin: 2vh 6vh 2vh 10vh;
}
.icon-links{
    padding-right: 2vw;
    font-size: 4vh;
    color: black;
    margin: 1vh;
}
.img-container{
    width: 30%;
    margin: auto;
}
.intro-img{
    border: 1px solid black;
    border-radius: 50%;
    height: 20vh;
    aspect-ratio: 1;
    margin-left: 6vw;
}
.scroll-left{
    position: absolute;
    left:0;
    top: 155%;
    z-index: 1;
    cursor: pointer;
    font-size: 7vh;
    padding-left: 10px;
    color: black;
    margin-left: 2vh;
  }
  .scroll-right{
    position: absolute;
    right:0;
    top: 155%;
    z-index: 1;
    cursor: pointer;
    font-size: 7vh;
    padding-right: 10px;
    color: black;
    margin-right: 2vh;
  }
  .scroll-right:hover{
    transform: scale(1.5);
  }
  .scroll-left:hover{
    transform: scale(1.5);
  }